src/main/mule/first.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a247625e-a96d-4671-8ce1-dd3f0c5bb7c9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstFlow" doc:id="1386dd92-8b54-4a86-bdec-5f5118c5e398" >
		<http:listener doc:name="Listener" doc:id="1883ce06-8ec2-49f7-b6a7-5048e74c1efb" config-ref="HTTP_Listener_config" path="/read"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7112390b-fd6e-4016-9d9c-faccf9117405" />
		<logger level="INFO" doc:name="Logger" doc:id="2777a3ba-51da-4398-8dfc-78ee55b18533" />
	</flow>
	<flow name="firstFlow1" doc:id="906e040c-d401-433e-8bc7-180604c5dd85" >
		<http:listener doc:name="Listener" doc:id="b6e21325-4098-43ac-9e52-bd7511754f29" config-ref="HTTP_Listener_config" path="/one"/>
		<logger level="INFO" doc:name="Logger" doc:id="487c6d1c-8382-4058-99ae-5c4000460d51" message='"open"'/>
	</flow>
</mule>
